.navbar{
    margin-bottom: 0;
}

@font-face {
    font-family: "Std-Black";
    src: url('/Resources/Fuentes/CircularStd-Black.otf');
}

.btn_header {
    text-decoration: none;
    padding: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #c4b41a;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #c4b41a;
    margin-right: 5px;
}

.btn_header:hover {
    color: #ffffff;
    background-color: #c4b41a;
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0;
    width: 100%;

}

.texto-encima {
    position: absolute;
    top: 50px;
    left: 10px;
}

.centrado {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}